*.pyc
*.dap
__pycache__/
*.log
*.bak
examples/**/*.py
benchmarks/**/*.py
dist/
build/
MANIFEST
.dir-locals.el
da/lib/2pcommit/orig.py
da/lib/2pcommit/spec.py
da/lib/clpaxos/spec.py
da/lib/crleader/orig.py
da/lib/dscrash/orig.py
da/lib/dscrash/spec.py
da/lib/hsleader/orig.py
da/lib/hsleader/spec.py
da/lib/lamutex/orig.py
da/lib/lamutex/spec.py
da/lib/lamutex/spec_lam.py
da/lib/lapaxos/orig.py
da/lib/pingpong/ping.py
da/lib/raft/orig.py
da/lib/ramutex/orig.py
da/lib/ramutex/spec.py
da/lib/ratoken/spec.py
da/lib/sktoken/orig.py
da/lib/vrpaxos/orig.py
