html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}

.btn {
    height: 50px;
}

.container-fluid
{
    position: absolute;
    top:0;
    bottom: 80px;
    background: #f5f5f5;
    overflow:scroll;
}

div.tooltip {
    position: absolute;
    line-height: 1.2em;
    padding: 3px;
    color: white;
    font: 12px sans-serif;
    background: #333;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    max-width: 400px;
}

pre {
    color:white;
}
pre{white-space:pre-wrap}
svg
{
    /*background:red;*/
}

tr, th, td {
    border: 1px solid black;
    margin: 0px;
    line-height: normal;
}

p {
    margin: 0px;
}

body .footer {
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px; /*150*/
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
  border-top: #ccc 2px solid;
}

.modal {
    text-align: center;
}

.modal-dialog {
    width: auto !important;
    max-width: 100%;
    display: inline-block;
}

#toggle_config {
    margin-left: 30px;
}

#config_panel {
    height: 50px;
    margin-top: -7px;
    padding-left: 50px;
}

#speech {
    padding-left: 20px;
}

.ui-dialog { position: absolute;}